@charset "ISO-8859-1";

@font-face {
    font-family: arabella;
    src: url('arabella.ttf');
}
@font-face {
    font-family: Braxton;
    src: url('Braxton.otf');
}


body {
  margin: 10px;
  padding: 0;
  min-width: 300px;
  max-width: 1000px;
  background-color: #fff7eb;
  font-family: arabella,'Apple Chancery', 'Snell Roundhand', cursive;
  font-size: 1em;
  color:#390000;
  
border-style: solid;
border-width: 160px 175px 210px 165px;
-moz-border-image: url(BorderImage.svg) 160 175 210 165 stretch;
-webkit-border-image: url(BorderImage.svg) 160 175 210 165 stretch;
-o-border-image: url(BorderImage.svg) 160 175 210 165 stretch;
border-image: url(BorderImage.svg) 160 175 210 165 stretch;
}

h1,h2,h3{
	font-family: Braxton, serif;
}

header h3{
	display: inline ;
}

h2 {
	
display : inline;
}


.factoid{
	font-size: 0.75em;
}
#Graveyard {
	border: 5px solid #390000;
	padding: 5px;
	min-width: 150px;
	max-width: 800px;
}

.household{
	border: 5px solid #336600;
	padding: 5px;
	min-width: 150px;
	max-width: 800px;
}


article+header {
	
	border-width: 2px;
	border-top-style: double;
	
}

a {
	
	text-decoration: none;
	font-weight: bold;
}

a:link {
    color: #390000;
}

a:visited {
    color: #390000;
}


#utilities {
	opacity: 0.6;
	position: fixed;
    top: 5px;
    right: 5px;
}

.icon{
	margin: 3px;
	height: 32px;
    width: 32px;
    position: relative;
    left:10px;
    top:5px;

}

.largeIcon, .deedIcon{
	border-radius: 4px;
	margin: 3px;
	height: 48px;
    width: 48px;
 	position: relative;
  	left:10px;
    top:5px;

}

.tooltiptext {
	visibility: hidden;
    position: absolute;
	background-color: black;
    color: white;
    font-family: cursive;
}

.largeIcon:hover+.tooltiptext {
    visibility: visible;
}

.icon:hover+.tooltiptext {
    visibility: visible;
}

footer{
	margin:10px;
	font-family: "monospace";
 	font-size: 0.9em;
 	color:black;
}

//testing testing